.general_quizz,#cms{
	text-align:center;
}
.general_quizz{
	margin-top: 4rem;
	display: inline-block;
}
.general_quizz .question{
	text-align:
	left;
	margin-bottom: 1rem;
	padding: 0 2rem;
}
.general_quizz h2 {
    color: #FCC658;
    font-family: hando_softbold, sans-serif;
    font-size: 1.6rem;
}
/* START QUIZZ */
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
	width: 90px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-right: 17px;
    border: 1px solid #eee;
    text-align: center;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.choices {
    width: 100%;
    display: inline-block;
    margin: 1rem 0rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.choice {
    margin: 1rem 2rem;
}
.question h2 {
    color: #007780;
    font-size: 1.2rem;
    font-family: hando_softregular, sans-serif;
    border-bottom: 2px solid #007680;
    margin-bottom: 2rem;
    min-height: 4rem;
}

.question h2 span {
    color: #FCC658;
    font-family: hando_softbold, sans-serif;
    font-size: 1.6rem;
}
.choices.quantity {
    margin: 2rem 0rem 4rem;
}
.general_quizz .question#main_6 {
    margin-bottom: 2rem;
}
/*CHART*/
.flex-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
  top: -26px;
  background: white;
}

.single-chart {
  max-width: 100%;
  width: 180px;
  vertical-align: middle;
}

.circular-chart {
  display: block;
  margin: 0px auto;
  max-height: 80px;
  overflow: auto!important;
  vertical-align: middle;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 2px;
}

.circle {
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #FCC658;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #fcc658;
  font-size: 0.7rem;
  text-anchor: middle;
  font-family: hando_softbold, sans-serif;
}
.general_quizz .question#main_11 {margin: 0 auto;width: 100%;text-align: center;}
.answer .result {
    color: #FCC658;
    font-size: 1.2rem;
    font-family: hando_softregular, sans-serif;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.general_quizz .question.result_sections{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 4rem;
}
.general_quizz .question.result_sections:nth-child(odd) {
    flex-direction: row-reverse;
}
.result_sections > div {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
}

.result_sections h2 {
    margin: 0 auto 2rem;
    font-family: hando_softbold, sans-serif;
    font-size: 1.6rem;
    color: #FCC658;
    text-transform: uppercase;
    min-height: unset;
}
.result_sections img{
	max-height: 220px;
}
.general_quizz p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #003E51;
    max-width: 700px;
}
.general_quizz input[type="submit"] {
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    line-height: 1.2rem;
    border-radius: 9px;
}
b,strong {
    font-family: hando_softbold, sans-serif;
}

.eco {
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 6px auto 0;
}

#section_4 {
    text-align: center;
}

#section_4 .single-chart {
    width: 80px;
}

#section_4 .flex-wrapper {
    position: relative;
    margin: 0.5rem auto 1.5rem;
    top: 0;
}
/* END QUIZZ */